.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #F02D2D; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 65px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.myButton1 {
    -moz-box-shadow:inset 0px 34px 0px -15px #d65151;
    -webkit-box-shadow:inset 0px 34px 0px -15px #d65151;
    box-shadow:inset 0px 34px 0px -15px #d65151;
    background-color:#d65151;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
}
.myButton:hover {
    background-color:#d65151;
}
.myButton:active {
    position:relative;
    top:1px;
}

.myButton2 {
    -moz-box-shadow:inset 0px 34px 0px -15px #2c7fbf;
    -webkit-box-shadow:inset 0px 34px 0px -15px #2c7fbf;
    box-shadow:inset 0px 34px 0px -15px #2c7fbf;
    background-color:#2c7fbf;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
}
.myButton:hover {
    background-color:#2c7fbf;
}
.myButton:active {
    position:relative;
    top:1px;
}